@font-face {
  font-family: "Tomorrow";
  src: url("/Fonts/Tomorrow-Regular.ttf");
}

.alles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.nav {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 998;
  width: 100%;
  height: 10%;

  border-radius: 50px;
  mix-blend-mode: difference;
  background-color: black;
  color: white;
  border: 5px solid rgb(255, 255, 255);

  max-width: calc(100vw - 2rem);
  overflow-x: hidden;

  & > * {
    transition: clip-path 0.2s ease;
  }
}

.link {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  width: 10%;
}

.active {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #dbdbdb;
  background: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  width: 10%;
}
